* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
  width: 100vw;
  color: rgb(126, 63, 5);
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #303031, #313a49, #02010c);
  background-image: url(../images/desktop-1680x1050.jpg);
  background-size: cover;
}
h1 {
  text-transform: Uppercase;
  margin-bottom: 0.2em;
  font-family: "Rubik", sans-serif;
  font-size: 4rem;
  color: #04034b;
  text-align: center;
}

h1 {
  position: relative;
  background: linear-gradient(to right, #24243e, #89db78, #0f0c29);
  --webkit-background-clip: text;
  --webkit-text-fill-color: transparent;
}
h1 {
  display: center;
  font-size: 4em;

  margin-inline-start: 650px;
  margin-inline-end: 590px;
  font-weight: bold;
  font-family: "Rubik Bubbles", cursive;
}
p {
  text-align: top;
  font-size: x-large;
  font-weight: bold;
  background-color: green;
  width: fit-content;
  height: fit-content;
}
.game-board {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  background-color: #333;
  width: 65vmin;
  height: 65vmin;
  background-image: url(../images/istockphoto-1343712844-612x612.png);
  border: black 1px solid;
  background-size: cover;
  margin-left: 700px;
  justify-content: center;
}

.grid-cell {
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.snake-body {
  z-index: 5;
  position: relative;
  background: rgb(4, 68, 2);
  box-shadow: 0 0px rgb(4, 68, 2) 0 0 20px rgb(4, 68, 2);
}

.food {
  background-image: url(../images/red-apple-with-happy-face_1308-9211.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
