* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;

  color: rgb(126, 63, 5);
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #303031, #313a49, #02010c);
}

h1 {
  text-transform: Uppercase;
  margin-bottom: 0.2em;
  font-family: "Rubik", sans-serif;
  font-size: 4rem;
  color: #04034b;
  text-align: center;
  background-image: url(../images/82724-food-airpods-apple-fruit-homepod-free-clipart-hq-thumb.png);
}

h1 {
  position: relative;
  background: linear-gradient(to right, #24243e, #89db78, #0f0c29);
  --webkit-background-clip: text;
  --webkit-text-fill-color: transparent;
}
h1 {
  display: center;
  font-size: 4em;
  margin-inline-start: 650px;
  margin-inline-end: 590px;
  font-weight: bold;
  font-family: "Rubik Bubbles", cursive;
}
p {
  text-align: top;
  font-size: x-large;
  font-weight: bold;
}
.game-board {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  background-color: #333;
  width: 600px;
  height: 600px;
  background-image: url(../images/istockphoto-1343712844-612x612.png);
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 800px;
  border: black 1px solid;
  background-size: cover;
  margin-left: 700px;
}

.grid-cell {
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.snake-body {
  z-index: 5;
  position: relative;
  background: black;
  box-shadow: 0 0px black, 0 0 20px black;
}

.food {
  background: red;
  box-shadow: 0 0px red, 0 0 20px red;
}
