* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.game-board {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  background-color: #333;
  width: 600px;
  height: 600px;
}

.grid-cell {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.snake-body {
  z-index: 5;
  position: relative;
  background: green;
  box-shadow: 0 0px green, 0 0 20px green;
}

.food {
  background: red;
  box-shadow: 0 0px red, 0 0 20px red;
}
